<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "=//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kopo.poly.persistance.mapper.INoticeMapper">

    <insert id="InsertNoticeInfo" parameterType="NoticeDTO">
        Insert into NOTICE
            ( TITLE, CONTENTS, REG_ID )
        values
               ( #{title}, #{contents}, #{reg_id} )
    </insert>

    <select id="getNoticeList" parameterType="NoticeDTO" resultType="NoticeDTO">
        select * from NOTICE
    </select>

    <select id="getNoticeDetail" parameterType="NoticeDTO" resultType="NoticeDTO">
        select *
        from NOTICE
        where NOTICE_SEQ = #{notice_seq}
    </select>

    <delete id="getNoticeDelete" parameterType="NoticeDTO">
        delete from NOTICE
        where NOTICE_SEQ = #{notice_seq}
    </delete>

    <update id="getNoticeUpdate" parameterType="NoticeDTO">
        update NOTICE
        set
            TITLE = #{title},
            CONTENTS = #{contents}
        where NOTICE_SEQ = #{notice_seq}
    </update>

    <select id="noticeUpdate" parameterType="NoticeDTO" resultType="NoticeDTO">
        select * from NOTICE where NOTICE_SEQ = #{notice_seq}
    </select>

    <select id="getNoticeLimitThree" parameterType="NoticeDTO" resultType="NoticeDTO">
        select n.notice_seq, n.user_seq,
               n.notice_date, n.title, n.contents,
               u.user_name
        from
            NOTICE n
            LEFT OUTER JOIN USERINFO u
            on n.user_seq = u.user_seq
        order by n.notice_date desc limit 3
    </select>

    <select id="getNoticeMemoList" parameterType="MemoDTO" resultType="MemoDTO">
        select * from  MEMO
        order by reg_date desc limit 3
    </select>
</mapper>
